<a [routerLink]="['/home']">Home</a>
<p>Provide a quote by {{author.name}}:</p>

<div class="error" *ngIf="error">
  <p *ngFor="let e of error">{{e}}</p>
</div>

<form>
  Quote:
  <label>

    <div *ngIf="quote.errors" class="validation">
      <div *ngIf="quote.errors.required">
        *Quote is required
      </div>
      <div *ngIf="quote.errors.minlength">
        *Quote must be at least 3 characters
      </div>
    </div>

    <input type="text" name="quote" required minlength="3" [(ngModel)]="newQuote.content" #quote="ngModel">
  </label>
  <button [routerLink]="['/home']">Cancel</button>
  <button (click)="postQuote()" type="submit" value="submit">Submit</button>
</form>
